cau5.txt
[{"id":"91292dd8.cd09d","type":"function","z":"fb8547b8.ef7708","name":"","func":"var newInt= Math.round(Math.random()*21)+20;\nreturn {payload:{\"temp\" :newInt}};","outputs":1,"noerr":0,"x":539,"y":308,"wires":[["944b4c63.ca968"]]},{"id":"f5e66bcf.4f34b8","type":"inject","z":"fb8547b8.ef7708","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":417.8999938964844,"y":169.9999942779541,"wires":[["91292dd8.cd09d"]]},{"id":"944b4c63.ca968","type":"mqtt out","z":"fb8547b8.ef7708","name":"","topic":"OLPC-OLP.C.01/senson1.JSON","qos":"","retain":"","broker":"6f35730e.8a6a4c","x":940,"y":256,"wires":[]},{"id":"2ebfa6.d68e205a","type":"mqtt in","z":"fb8547b8.ef7708","name":"","topic":"OLPC-OLP.C.01/senson1.JSON","qos":"2","broker":"6f35730e.8a6a4c","x":708,"y":545,"wires":[["895416cb.eee0a8"]]},{"id":"895416cb.eee0a8","type":"debug","z":"fb8547b8.ef7708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":941,"y":410,"wires":[]},{"id":"6f35730e.8a6a4c","type":"mqtt-broker","z":"","name":"hive","broker":"broker.hivemq.com","port":"1883","clientid":"ffjhgfjhgf","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]