cau6.txt
[{"id":"91292dd8.cd09d","type":"function","z":"fb8547b8.ef7708","name":"","func":"var newInt= Math.round(Math.random()*1121)+280;\nreturn {payload:newInt};","outputs":1,"noerr":0,"x":644,"y":237,"wires":[["7cacf5d1.c4f4dc","8cd7fb77.9767c8"]]},{"id":"f5e66bcf.4f34b8","type":"inject","z":"fb8547b8.ef7708","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":386.8999938964844,"y":188,"wires":[["91292dd8.cd09d"]]},{"id":"944b4c63.ca968","type":"mqtt out","z":"fb8547b8.ef7708","name":"","topic":"OLPC-OLP.C.01/senson2.JSON","qos":"","retain":"","broker":"6f35730e.8a6a4c","x":1078,"y":256,"wires":[]},{"id":"2ebfa6.d68e205a","type":"mqtt in","z":"fb8547b8.ef7708","name":"","topic":"OLPC-OLP.C.01/senson2.JSON","qos":"2","broker":"6f35730e.8a6a4c","x":708,"y":545,"wires":[["895416cb.eee0a8"]]},{"id":"895416cb.eee0a8","type":"debug","z":"fb8547b8.ef7708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1133,"y":558,"wires":[]},{"id":"8cd7fb77.9767c8","type":"ui_chart","z":"fb8547b8.ef7708","name":"","group":"e338da77.dafb68","order":0,"width":0,"height":0,"label":"cau6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":709,"y":415,"wires":[[],[]]},{"id":"7cacf5d1.c4f4dc","type":"function","z":"fb8547b8.ef7708","name":"","func":"\nreturn{payload :{\"tds\" :newInt}};","outputs":1,"noerr":0,"x":816,"y":251,"wires":[["944b4c63.ca968"]]},{"id":"6f35730e.8a6a4c","type":"mqtt-broker","z":"","name":"hive","broker":"broker.hivemq.com","port":"1883","clientid":"ffjhgfjhgf","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e338da77.dafb68","type":"ui_group","z":"","name":"Default","tab":"2c7d41d0.a7744e","disp":true,"width":"6","collapse":false},{"id":"2c7d41d0.a7744e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]